
.label {margin-right:5px;margin-bottom:5px !important;display:inline-block;} #wrapper {
    position: relative;
}

/* set header title as bold in crud page*/
.headerTitle
{
	font-weight: bold;
}
.lblSuggestedCenter
{
	/* service request suggested service center */
	vertical-align: middle;
    margin-left: 2%;
}
.paddingFormele
{
	padding:6px 12px;
}
.datatable th{
	text-align: center !important;
}