
.label {margin-right:5px;margin-bottom:5px !important;display:inline-block;} #wrapper {
    position: relative;
}

/* set header title as bold in crud page*/
.headerTitle
{
	font-weight: bold;
}
.lblSuggestedCenter
{
	/* service request suggested service center */
	vertical-align: middle;
    margin-left: 2%;
}
.paddingFormele
{
	padding:6px 12px;
}
.datatable th, .dataTable th{
	text-align: center !important;
}

.help-block
{
	/* set css for error message */
	color: #FF0000 !important;
}

.removelink, .addlink{
	text-decoration: underline !important;
}

.balance_details
{
	border: 1px solid #d2d6de;
	padding: 2%;
    margin-right: 5%;
}

.recent-service-request th{
	text-align: center !important;
}
table tr th, table tr td{padding-left: 15px !important;padding-right: 15px !important;}

.paddingMarginLeftLabel{
	padding: 5px;
	margin-left: 5px;
}
.action_button{
	white-space: nowrap !important;
}